<?xml version="1.0" encoding="UTF-8"?>
<suite name="CrossBrowser Suite">
    <test name="Chrome Tests">
        <parameter name="browser" value="chrome" />
        <parameter name="headless" value="true" />
        <classes>
            <class name="com.kunal.seleniumassignment.tests.ErailTest" />
            <class name="com.kunal.seleniumassignment.tests.OrangeHRMTest" />
        </classes>
    </test>
</suite>
